*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header-id {
  background-color: lightblue;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1em;
  opacity: 0.5;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  flex: 1;
}

#render {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, minmax(50px, 1fr));
  grid-template-areas:
    "weather weather weather weather weather weather"
    "weather weather weather weather weather weather"
    "hour hour hour day day day"
    "hour hour hour day day day";
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.weatherWrapper-field {
  grid-area: weather;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 25vh;
  gap: 2em;
  margin: 2em;
}

.weather-field {
  border: 2px solid rgb(192, 12, 12);
  background-color: rgba(173, 216, 230, 0.26);
  padding: 1em;
}

.hours {
  display: grid;
  grid-area: hour;
  grid-template-columns: repeat(6, 1fr);
  min-height: 25vh;
  gap: 2em;
  margin: 2em;
}

.hour-div {
  border: 2px solid lightblue;
  padding: 1em;
  background-color: rgba(173, 216, 230, 0.26);
}

.days {
  display: grid;
  grid-area: day;
  grid-template-columns: repeat(5, 1fr);
  min-height: 25vh;
  gap: 2em;
  margin: 2em;
}

.day-div {
  border: 2px solid yellow;
  padding: 1em;
  background-color: rgba(173, 216, 230, 0.26);
}

#footer-id {
  background-color: lightblue;
  display: flex;
  width: 100%;
  margin: auto 0 0 0;
  justify-content: center;
  opacity: 0.5;
}
