*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  flex: 1;
}

#header-div {
  background-color: lightblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0.2em;
  opacity: 0.5;
}

#header-id {
  align-self: center;
}

#searched-city-id {
  align-self: flex-end;
  margin-right: 1em;
}

form {
  display: flex;
  margin: 1em;
  gap: 0.5em;
}

label {
  align-self: center;
  font-weight: bold;
  font-size: 1.3rem;
}

input {
  border: 2px solid lightblue;
  border-radius: 2em;
  padding: 1em;
  opacity: 0.7;
}

#search-button {
  padding: 1em;
  border-radius: 2em;
  border: 2px solid lightblue;
  font-weight: bold;
  opacity: 0.7;
  cursor: pointer;
}

#search-button:hover {
  opacity: 0.85;
}

#search-button:active {
  opacity: 1;
}

#change-metric-id {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  margin-right: 1.5em;
  padding: 1em;
  border-radius: 2em;
  border: 2px solid lightblue;
  font-weight: bold;
  opacity: 0.7;
  cursor: pointer;
}

#change-metric-id:hover {
  opacity: 0.85;
}

#change-metric-id:active {
  opacity: 1;
}

#error-msg {
  font-size: 1.1rem;
  font-weight: bold;
}

#loading-screen {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: lightblue;
  margin: 2em;
}

#render {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, minmax(50px, 1fr));
  grid-template-areas:
    "gap gap gap gap gap gap"
    "weather weather weather weather weather weather"
    "weather weather weather weather weather weather"
    "space space space space space space"
    "hour hour hour day day day"
    "hour hour hour day day day";
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#icon-image {
  width: 30px;
  height: 30px;
}

.weatherWrapper-field {
  grid-area: weather;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 25vh;
  gap: 2em;
  margin: 2em;
}

.weather-field {
  border: 2px solid rgb(76, 182, 76);
  background-color: rgba(173, 216, 230, 0.26);
  transition: all 0.2s ease-in;
  padding: 1em;
}

.weather-field:hover {
  background-color: rgba(173, 216, 230, 0.66);
}

.unit {
  font-weight: bold;
}

#div-space-upper {
  grid-area: gap;
  display: flex;
  margin-left: 6em;
  font-size: 1.5rem;
  font-weight: bold;
}

#div-space-bottom {
  grid-area: space;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
}

.hours {
  display: grid;
  grid-area: hour;
  grid-template-columns: repeat(6, 1fr);
  min-height: 25vh;
  gap: 2em;
  margin: 2em;
}

.hour-div {
  border: 2px solid lightblue;
  padding: 1em;
  background-color: rgba(173, 216, 230, 0.26);
  transition: all 0.2s ease-in;
}

.hour-div:hover {
  background-color: rgba(173, 216, 230, 0.66);
}

#hour-time {
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
}

.days {
  display: grid;
  grid-area: day;
  grid-template-columns: repeat(5, 1fr);
  min-height: 25vh;
  gap: 2em;
  margin: 2em;
}

.day-div {
  border: 2px solid rgb(175, 175, 71);
  padding: 1em;
  background-color: rgba(173, 216, 230, 0.26);
  transition: all 0.2s ease-in;
}

.day-div:hover {
  background-color: rgba(173, 216, 230, 0.66);
}

#day-date {
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
}

#footer-id {
  background-color: lightblue;
  display: flex;
  width: 100%;
  margin: auto 0 0 0;
  justify-content: center;
  opacity: 0.5;
  padding: 1em;
}
